/* !page1 */

.main_nav{
  display: flex;
  justify-content: flex-end;
  font-family: Kharkiv Tone;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  padding-top: 36px;
  padding-bottom: 36px;  
}
.main_nav ul li {
  display: inline-block;
  padding: 0px 80px 0px 0px;
}
.main_nav ul li a{
  color: var(--color-light);
}
.main_nav ul li a:hover{
  color: var(--color-pink-light);
  text-decoration: underline;
  transition: 0.7s;
}


.title{
  padding-top: 80px;
  padding-left: 250px;
  padding-right: 250px;
}
.div__rigth{
  display: flex;
  justify-content: flex-end;
}
.intro{
  margin-top: 40px;
  margin-left: 228px;
  margin-right: 228px;
}
.intro h5{
  text-align: center;
  font-size: 1.1vw;

}
  