@media screen and (max-width:1550px){
    .slavic_mif img{
        width: 40%;
        height: 40%;
      }
}
@media screen and (max-width:1200px){
    .section{
        gap: 90px;
    }
}
@media screen and (max-width:1000px){
    .slavic_mif img{
        width: 50%;
        height: 50%;
    }
    .footer{
        height: 160px;
    }
    .section{
        gap: 40px;
    }
    .button-54{
        width: 100%;
    }
}